/* @import "~bootstrap/dist/css/bootstrap.css";
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    height: auto;
    position: sticky;
    font-size: small;
}

.row {
    display: table-row;
    background: #f6f6f6;
    justify-content: center;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #4d4d4d;
    background: #ea6153;
}

.row.green {
    background: #75c797;
}

.cell {
    padding: 6px 12px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
} */