.card.card-pc {
    width: 230px;
    color: #fffffe;
    background-color: #312d2e
}

.card.card-ps4 {
    width: 230px;
    color: #fffffe;
    background-color: #0087cb
}

.card.card-union {
    width: 230px;
    color: #fffffe;
    background-color: #a721d1
}

.card.card {
    width: 1000px;
}

b.b-gold {
    color: gold;
}

b.b-silver {
    color: silver;
}

b.b-bronze {
    color: goldenrod;
}

.card.card-footer {
    height: 1000px;
}

iframe {
    border: 2px solid yellow;
}