<div class="card-container">

    <!-- Players-Characters button -->
    <button [attr.class]="buttonStyle" tabindex="0" (click)="sendRanking('PL_CH')">
    <svg *ngIf="platformType == 'PC' || platformType == 'PC_PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPC" />
        </svg>
    <svg *ngIf="platformType == 'PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
    <div><span><b>Players-Characters</b> Ranking</span></div>
    <svg *ngIf="platformType == 'PC_PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
    </button>

    <!-- Players button -->
    <button [attr.class]="buttonStyle" tabindex="0" (click)="sendRanking('PL')">
        <svg *ngIf="platformType == 'PC' || platformType == 'PC_PS4'" style="width:24px;height:24px"
            viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPC" />
        </svg>
        <svg *ngIf="platformType == 'PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
        <div><span><b>Players</b> Ranking</span></div>
        <svg *ngIf="platformType == 'PC_PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
    </button>

    <!-- Characters button -->
    <button [attr.class]="buttonStyle" tabindex="0" (click)="sendRanking('CH')">
        <svg *ngIf="platformType == 'PC' || platformType == 'PC_PS4'" style="width:24px;height:24px"
            viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPC" />
        </svg>
        <svg *ngIf="platformType == 'PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
        <div><span><b>Characters</b> Ranking</span></div>
        <svg *ngIf="platformType == 'PC_PS4'" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" [attr.d]="buttonPS4" />
        </svg>
    </button>
</div>